<div class="navbar-section" ng-init="getLoacalstorageValues()">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a><input type="text" class="form-control" id="search" ng-model="search" name="search" placeholder="Search by Name" /></a></li>
        <li><a href="" ng-click="addShops()">Add Shops</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="valueExists == true">
        <li><a><button class="btn btn-info" ng-click="generateBill()">Generate Bill</button></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container content-section">
  <ul class="nav nav-tabs">
    <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}"><a ui-sref="{{tab.url}}" ng-bind="tab.title"></a></li>
  </ul>
  <div ui-view></div>
</div>