<div class="container jumbotron" ng-init="getSelectedItems()">
  <div class="row">
    <div class="col-md-12">
      <h3>Shop Name</h3>
    </div>
    <div class="col-md-6" ng-init="getAllShops()">
      <div class="form-group">
        <select ng-model="shopId" class="form-control">
          <option ng-selected="selected">Select Shop</option>
          <option ng-repeat="shop in shops" ng-value="shop._id" ng-bind="shop.shopname"></option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Selected Items</h3>
    </div>
    <div class="col-md-4">
      <div class="editTable">
        <div class="right">
          <a class="btn pull-right" ng-class="{true: 'btn-warning', false: 'btn-success'}[!editable]" ng-click="editable = !editable">{{!editable && 'Edit' || 'Save'}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-12" id="printThisElement">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th ng-if="editable"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, item) in selectedItem">
            <th ng-bind="key + 1"></th>
            <td ng-bind="item.product.name"></td>
            <td ng-bind="item.quantity"></td>
            <td></td>
            <td ng-if="editable"><i class="fa fa-trash" aria-hidden="true" ng-click="remove(item)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="btn btn-info" ng-click="print()">Print</div>
  <div class="btn btn-primary" ng-click="saveData(selectedItem)">Save</div>
</div>