<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <input type="text" name="shopname" ng-model="shopname" placeholder="Enter Shop Name" class="form-control" />
        </div>
        <div class="form-group">
          <button class="btn btn-success"></button>
        </div>
      </form>
    </div>
  </div>
</div>